@import url('https://fonts.googleapis.com/css?family=Capriola');

//desktop
@media screen and (min-width: 767px) {
  .poll-logo {
    width: 20%;
    margin: auto;
    margin-bottom: -5em;
  }

  .poll-instructions {
    margin-bottom: 1em;
    font-size: 1.5em;
  }

  .venues {
    margin: .45em;
    width: 25%;
  }

  .create-poll {
    width: 50%;
    padding: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .select-venues {
    margin-top: 4.5em;
    font-family: 'Capriola', sans-serif;
    text-align: center;
  } 
}


//mobile 
@media screen and (max-width: 767px) {
  .logo {
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1em;
  }

  .venues {
    margin: .25em;
    width: 75%;
  }

  .create-poll {
    width: 80%;
    margin-top: 1em;
  }

  .select-venues {
    font-family: 'Capriola', sans-serif;
    text-align: center;
  }

  .restaurant-list {
    text-align: center;
  }
}