@import url('https://fonts.googleapis.com/css?family=Capriola');

.order-caption, .user-dish {
  font-family: 'Capriola';
  text-align: center;
}

.order-caption {
  margin-top: -15em;
}

.user-dish {
  font-family: 'Capriola';
  font-size: 1.3em;
  margin-top: 5em;
}

.user-logo {
  width: 30%;
  margin: 0 auto;
  margin-bottom: -20em;
  margin-top: 2em;
}

.icon-logo {
  color: #aa2727
}