<%= image_tag 'WhereTo_Logo.svg', class: "user-logo"%>
<p class="user-dish">Enjoy your <%= @order.dish.name %>, <%= current_user.name %>!<p>
<h1 class="order-caption">Thank you for using <i class="icon-logo">WhereTo?</i> Your order will be arriving shortly!</h1>
