<!-- Footer -->
<footer class="page-footer">

  <!-- Copyright -->
  <div class="container copy-right">© 2018 Copyright:
    <span> WhereTo?</span>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->