<footer class="page-footer pt-4">
  <div class="text-center text-md-right">
    <div class="row">
      <div class="col-md-3 mt-md-0 mt-6">

        <p>Find us at: </p>
          <a type="button" class="btn-floating btn-fb btn-sm">
            <i class="fa fa-facebook"></i>
          </a>
          <a type="button" class="btn-floating btn-tw btn-sm">
            <i class="fa fa-twitter"></i>
          </a>
          <a type="button" class="btn-floating btn-li btn-sm">
            <i class="fa fa-linkedin"></i>
          </a>
          <a type="button" class="btn-floating btn-git btn-sm">
            <i class="fa fa-github"></i>
          </a>

      </div>
<hr class="clearfix w-100 d-md-none pb-3">
<p>Created by William Kontos, Adam Wachsberg, Adam Noah, and Richard Crismond of Wyncode Academy</p>
