
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">

      <!-- Elements visible all the time -->
      <div class="col-sm-6">
        <%= render 'layouts/navigation/header' %>
      </div>

      <!-- Elements collapses on smaller devices -->
      <div class="col-sm-6">
        <%= render 'layouts/navigation/collapsible_elements' %>
      </div>

    </div>
  </div>
</nav>